h1 {
    text-align: center;
    color: green;
}
body {
    background: url('IMAGE') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
.centered {
    position:relative;
    top: 70%;
    left: 70%;
    transform: translate(-70%, -70%);
    color:black;
    font-size:20px;
    text-align: right;
    
}

h3 {
    text-align: center;
    color:#8bc34a;
    font-size: 300%;
}

.list-group-item:hover {
    background-color: bisque;
}
p {
    color: aliceblue;
    font-size: small;
    text-align:right;
}
.nav-brand {
    text-align: left;
}
.col-12 {
    font-size: small;
    text-align: center;
}

.myclass img:hover {
    border: 5px solid blue;

}
.myclasstext {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color:whitesmoke;
}

h4 {
    color: black;
    text-align: center;
}
.error {
    color: red;
}

.bg-img {
  /* The image used */
  background-image: url("#");

  min-height: 500px;
  min-width: 1200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  width: 100%;

}

/* The navbar */

  form { 
    color:#000;
    font-size: large;
    text-align: center;
  }

  
  .product-card {
    max-width: 400px;
    margin: 20px auto;
    background-color:rgb(248, 204, 150);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.product-details {
    padding: 20px;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    color: #e44d26;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.checkout-section {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.checkout-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #e44d26;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.container-fluid {
    max-width: 1400px;

}

.card {
    background:#8bc34a;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    border: 0;
    border-radius: 1rem;
}

.card-img,
.card-img-top :hover {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
    color: #e44d26;

}


.card h5 {
    overflow: hidden;
    height: 55px;
    font-weight: 300;
    font-size: 1rem;
}

.card h5 a {
  color: black;
  text-decoration: none;
} 

.card-img-top {
    width: 100%;
    min-height: 250px;
    max-height: 250px;
    object-fit: contain;
    padding: 30px;
}

.card h2 {
    font-size: 1rem;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

/* Centered text */
.label-top {
    position: absolute;
    background-color: var(--label-index);
    color: #fff;
    top: 8px;
    right: 8px;
    padding: 5px 10px 5px 10px;
    font-size: .7rem;
    font-weight: 600;
    border-radius: 3px;
    text-transform: uppercase;
}

.top-right {
    position: absolute;
    top: 24px;
    left: 24px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 1rem;
    font-weight: 900;
    background: #8bc34a;
    line-height: 90px;
    text-align: center;
    color: white;
}

.top-right span {
    display: inline-block;
    vertical-align: middle;
    /* line-height: normal; */
    /* padding: 0 25px; */
}

.aff-link {
    /* text-decoration: overline; */
    font-weight: 500;
}

.over-bg {
    background: rgba(53, 53, 53, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0.0px);
    -webkit-backdrop-filter: blur(0.0px);
    border-radius: 10px;
}
.bold-btn {

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 50px 5px 50px;
}
.box .btn {
    font-size: 1.5rem;
}

/* START BUTTON */
.btn-warning {
    background: var(--btnbg);
    color: var(--btnfontcolor);
    fill: black;
    border: none;
    text-decoration: none;
    outline: 0;
    /* box-shadow: -1px 6px 19px rgba(247, 129, 10, 0.25); */
    border-radius: 100px;
}
.btn-warning:hover {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-check:focus + .btn-warning, .btn-warning:focus {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}
.btn-warning:active:focus {
    box-shadow: 0 0 0 0.25rem var(--btnactivefs);
}
.btn-warning:active {
    background: var(--btnbghover);
    color: var(--btnfontcolorhover);
    /* box-shadow: -1px 6px 13px rgba(255, 150, 43, 0.35); */
}

/* END BUTTON */

.bg-success {
    font-size: 1rem;
    background-color: var(--btnbg)!important;
    color: var(--btnfontcolor)!important;
}
.bg-danger {
    font-size: 1rem;
}


.price-hp {
    font-size: 1rem;
    font-weight: 600;
    color: darkgray;
}

.amz-hp {
    font-size: .7rem;
    font-weight: 600;
    color: darkgray;
}

.fa-question-circle:before {
    /* content: "\f059"; */
    color: darkgray;
}

.fa-heart:before {
    color:crimson;
}
.fa-chevron-circle-right:before {
    color: darkgray;
}

  .col-3:hover {
    text-align:justify;
    color: #e44d26;
  }

  .map {
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content:center;
    flex-direction:column;
  }

  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }

  div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }

  /* ///OKKKKKKK///// */
  /* html link  */

  a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
}